<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head.ejs', { pageTitle: 'Works', imagePath: '../../' }) %>

<body class="works">

<%- include('../components/common/_header' ) %>


<main>

  <div class="primaryHero">
    <div class="primaryHero__inner l-lg-container">

      <h1 class="primaryHero__heading primaryHero__heading--ja">お仕事のタイトル</h1>

    </div><!-- /.primaryHero__inner.l-container -->
  </div><!-- /.primaryHero -->

  <section class="worksSection l-md-container">

    <h2 class="worksSection__heading primaryHeading primaryHeading--center">
      <i class="primaryHeading__icon fa-regular fa-file-lines"></i>Project Details
    </h2>

    <section class="worksSection__section">
      <div class="worksSection__sectionContent">
        <h3 class="worksSection__sectionHeading">改善点の洗い出し</h3>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div><!-- /.worksSection__content -->

      <figure class="worksSection__sectionFigure">
        <img class="worksSection__sectionImage" src="/src/images/works/work-a1.jpg" alt="" width="4032" height="2688">
      </figure>
    </section>

    <section class="worksSection__section">
      <div class="worksSection__sectionContent">
        <h3 class="worksSection__sectionHeading">解決案の検討</h3>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div><!-- /.worksSection__content -->

      <figure class="worksSection__sectionFigure">
        <img class="worksSection__sectionImage" src="/src/images/works/work-a2.jpg" alt="" width="5184" height="3456">
      </figure>
    </section>

    <section class="worksSection__section">
      <div class="worksSection__sectionContent">
        <h3 class="worksSection__sectionHeading">最終結果</h3>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <p class="worksSection__sectionText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div><!-- /.worksSection__content -->

      <figure class="worksSection__sectionFigure">
        <img class="worksSection__sectionImage" src="/src/images/works/work-a3.jpg" alt="" width="540" height="378">
      </figure>
    </section>

  </section>

  <section class="primarySection" id="works">
    <h2 class="primarySection__heading primaryHeading primaryHeading--center">
      <i class="primaryHeading__icon fa-sharp fa-solid fa-palette"></i>Read Next
    </h2>

    <div class="l-lg-container">

      <section class="primarySection__media">
        <div class="primarySection__mediaContent">
          <h3 class="primarySection__mediaHeading">過去のお仕事 2</h3>

          <p class="primarySection__mediaText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="primarySection__mediaText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <a class="primarySection__mediaBtn primaryBtn primaryBtn--purple" href="#">もっと読む</a>
        </div><!-- /.primarySection__mediaContent -->

        <figure class="primarySection__mediaFigure">
          <img class="primarySection__mediaImage primarySection__mediaImage--purple" src="/src/images/works/work-b.jpg" alt="" width="1000" height="700">
        </figure>
      </section><!-- /.primarySection__media.primarySection__media--01 -->

    </div><!-- /.l-lg-container -->
  </section>

</main>


<%- include('../components/common/_footer.ejs', { imagePath: '../../' }) %>

</body>
</html>
