<header class="header">
  <a class="header__link" href="/">
    <img class="header__logo" src="/src/images/common/logo.svg" alt="EK" width="60" height="38">
  </a>

  <div class="header__occupation u-lg-show">
    Designer / Developer
  </div>

  <nav class="header__gNav gNav">
    <ul class="gNav__list">
      <li class="gNav__item">
        <a class="gNav__link" href="#home">Home</a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="#works">Works</a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="#about">About</a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
