// 変数


// カラー
$whiteColor: #fff;
$purpleColor: #6B4E71;
$navyColor: #3A4454;
$lightNavyColor: #53687E;
$pinkColor: #FFC4C4;
$lightPinkColor: #FFF7F7;
$grayColor: #81838D;
$lightGrayColor: #9C9DA5;
$brownColor: #AB9698;
$lightBrownColor: #C2B2B4;



// 幅



// サイズ



// フォント
$serif: "Piazzolla", "Times New Roman", "YuMincho",
"Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;



// ブレイクポイント
$breakpoints: (
  "xs-min": "(min-width: 375px)",
  "xs-max": "(max-width: 374px)",
  "sm-min": "(min-width: 600px)",
  "sm-max": "(max-width: 599px)",
  "md-min": "(min-width: 768px)",
  "md-max": "(max-width: 767px)",
  "lg-min": "(min-width: 1024px)",
  "lg-max": "(max-width: 1023px)",
  "xl-min": "(min-width: 1200px)",
  "xl-max": "(max-width: 1199px)",
  "xxl-min": "(min-width: 1366px)",
  "xxl-max": "(max-width: 1365px)"
);
